@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins';
    user-select: none;
    box-sizing: border-box;
}


html, body {
    overflow-x: hidden;   
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}


:root { /* Paleta de cores*/
    --branco: #fff;
    --preto: #000;
    --azul-primário: #2B72DF;
    --amarelo-secundário: #DEA22A;
    --azul-escuro: #0F3876;
    --azul-claro: #D1E2FC;
    --cinza-claro: #B5B5B5;
    --cinza-escuro: #FAFAFA;
}


a {
    text-decoration: none;
}

header {
    padding: 20px 35px;
    margin-bottom: 10px;
    color: var(--azul-primário);
    font-weight: 600;
    font-size: 20px;
   
}

main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.b1 {
    margin-top: -30px;
    display: flex;
    flex-direction: column; /* Coloca os textos e imagem em coluna */
    align-items: flex-start; /* Centraliza horizontalmente */
    width: 629px;
    height: 664px;
}

.b1 div {
    text-align: left; /* Centraliza os textos */
    width: 100%;
}

.b1 figure {
    display: block;
    margin-left: -3px;
}


.b1 h1 {
    font-size: 40px;
    font-weight: 600;  /* O valor 600 corresponde a semi-bold*/
    color: var(--amarelo-secundário);
}

.b1 h2 {
    font-size: 24px;
    font-weight: 500; /* O valor 600 corresponde a medium*/
}

.b1 h3 {
    font-size: 19px;
    font-weight: 400; /* O valor 600 corresponde a regular*/
}

.b1 h3 span a {
    text-decoration: none;
    color: var(--amarelo-secundário);
    font-weight: 600; /* O valor 600 corresponde a semi-bold*/
}

.b1 img[alt="principal"] {
    width: 100%;
    margin-top: 40px;
}

.b2 {
    margin-top: -80px;
    width: 435px;
    height: 670px;
    padding: 15px;
    margin-bottom: 50px;
    border-radius: 10px;
    background-color: var(--cinza-escuro);
}

.campos input { /* Regra CSS que estiliza todos os inputs exceto o de login(submit)*/
    width: 100%;
    height: 60px;
    padding:  2px 30px;
    background-color: var(--azul-claro);
    border-radius: 8px;
    border: none;
    margin: 10px 0;
   font-size: 20px;
}


.password-container {
    position: relative; /* Define como container relativo para o ícone */
}

.password-container input {
    width: 100%;
}

.toggle-password {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
     /* Ajusta o tamanho da imagem */
}

.toggle-password:hover {
    color: var(--azul-primário); /* Muda a cor do olho ao passar o mouse */
}


.toggle-password:hover {
    opacity: 0.8; /* Muda a opacidade ao passar o mouse */
}


.campos input::placeholder { /* Pseudo classe que estiliza o placeholder do input*/
    color: var(--azul-escuro);
    font-size: 16px;
    font-weight: 400;
}


div input[type="submit"] { /*Estiliza o input de cadastro*/
    width: 100%;
    height: 62px;
    display: block;
    margin: auto;
    margin-top: 13px;
    border-radius: 9px;
    background-color: var(--azul-primário);
    color: var(--branco);
    font-size: 16px;
    font-weight:  600;
    border: none;
}

div input[type="submit"]:hover {
    cursor: pointer;
}

form #meio { /* Parágrafo do meio: "ou continue com"*/
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: var(--cinza-claro);
    font-weight: bold;
    margin-top: 20px;
}

.social-medias { /* Bloco que contém os ícones das redes sociais*/
    margin-top: -5px;
    text-align: center;
    width: 100%;
}

.social-medias figure {
    display: inline;
}


.social-medias figure img {
    margin: 0 -30px;
    width: 41.46px;
    height: 41.46px;
}

.social-medias figure img:hover {
    cursor: pointer;
}

@media screen and (width <= 800px) { /* Tela menor*/

    main {
        flex-direction: column;
    }

    .b1 {
        width: 400px;
        height: 664px;
        margin: auto;
    }

    
    .b1 figure {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .b1 h1,h2,h3 {
        margin-left: 25px;
    }

    .b1 img[alt="principal"] {
        width: 90%;
        height: 300px;
        margin-top: 40px;
    }

    .b2 {
        margin: 100px;
    }


    div input[type="submit"] {
        width: 85%;
    }

    .campos input {
        width: 85%;
    }

    .campos {
        text-align: center;
    }

    .toggle-password {
        position: absolute;
        right: 55px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
         /* Ajusta o tamanho da imagem */
    }
}

